<div class="row">
    <div class="col-md-8">
        <h3>My orders</h3>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                </tr>
            </thead>
            <tbody>
                <tr
                    (click)="onSelect(order)"
                    *ngFor="let order of orders; let i=index">
                    <td scope="row">{{ i }}</td>
                    <td>{{ order.name }}</td>
                    <td>{{ order.address }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <ng-container *ngIf="selectedOrder && shoppingCart; else orderNotSelected">
            <app-peek-order
                [order]="selectedOrder"
                [shoppingCart]="shoppingCart"></app-peek-order>
        </ng-container>
        <ng-template #orderNotSelected>No order selected...</ng-template>

    </div>
</div>
