<div class="row">
    <div class="col-md-4">
        <app-product-filter></app-product-filter>
    </div>
    <div class="col-md-8">
        <div class="row">
            <ng-container *ngFor="let product of filteredProducts; let i = index;">
                <div class="col">
                    <app-product-card [product]="product"></app-product-card>
                </div>
                <div
                    *ngIf="i%2 === 1"
                    class="w-100"></div>
            </ng-container>
        </div>
    </div>
</div>
