/* You can add global styles to this file, and also import other style files */

@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  padding-top: 80px;
  font-family: 'Raleway', sans-serif;
}

.navbar-light .navbar-brand {
  color: #c1d62e;
}

.list-group-item.active {
  background-color: #c1d62e;
  border-color: #c1d62e;
}
